html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* index (add mobile device responsiveness) */
.nameHeader {
  text-align: center;
  font-size: 70px;
}
.contact {
  text-align: center;
  font-size: 30px;
}
p {
  text-align: center;
}
.div1 {
  border: 1px outset #ccd6f6;
  background-color: #ccd6f6;
  text-align: center;
}
.indexBody {
  padding: 150px 0;
  text-align: center;
  background-image: url("https://i.ibb.co/9TqQbVp/space1.jpg");
  background-size: fill;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home_button {
  border-radius: 12px;
  padding: 15px;
  background-color: transparent;
  color: #ccd6f6;
  border: 2px solid #ccd6f6;
  transition-duration: 0.5s;
  outline: none;
}
.home_button:hover {
  background-color: #233554;
  color: white;
}
.about_button {
  border-radius: 12px;
  padding: 15px;
  background-color: transparent;
  color: #ccd6f6;
  border: 2px solid #ccd6f6;
  transition-duration: 0.5s;
}
.about_button:hover {
  background-color: #233554;
  color: white;
}
.projects_button {
  border-radius: 12px;
  padding: 15px;
  background-color: transparent;
  color: #ccd6f6;
  border: 2px solid #ccd6f6;
  transition-duration: 0.5s;
}
.projects_button:hover {
  background-color: #233554;
  color: white;
}
.resume_button {
  border-radius: 12px;
  padding: 15px;
  background-color: transparent;
  color: #ccd6f6;
  border: 2px solid #ccd6f6;
  transition-duration: 0.5s;
}
.resume_button:hover {
  background-color: #233554;
  color: white;
}

.linkedin {
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
  font-size: large;
}
.linkedin:hover {
  opacity: 1;
}

.email {
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
  font-size: large;
}
.email:hover {
  opacity: 1;
}

i[class^="icon-"]:before {
  display: inline-block;
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
}
i[class^="icon-"]:visited {
  display: inline-block;
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
}

/* about (add mobile device responsiveness) */
h2 {
  text-align: center;
  color: white;
}
p2 {
  text-align: center;
}
.aboutBody {
  padding: 150px 0;
  text-align: center;
  background-color: #0a192f;
  background-size: fill;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}
.aboutParagraph {
  color: white;
}

.brendon {
  border-radius: 50%;
  border: 3px solid #ccd6f6;
  width: 100px;
  height: 300px;
}

/* projects (add mobile device responsiveness) */
h2 {
  text-align: center;
}
p2 {
  text-align: center;
}
.projectsBody {
  padding: 150px 0;
  text-align: center;
  background-color: #0a192f;
  background-size: fill;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

.projectsParagraph {
  color: white;
}

.projectsList {
  color: white;
  text-align: center;
  width: auto;
  height: auto;
}

.projectsPicture {
  width: 600px;
  height: 400px;
  text-align: left;
}

/* all */
a {
  color: #ccd6f6;
}
a:visited {
  text-decoration: none;
  color: #ccd6f6;
}
a:hover {
  text-decoration: none;
  color: #ccd6f6;
}
a:focus {
  text-decoration: none;
  color: yellow;
}
a:hover,
a:active {
  text-decoration: none;
  color: #ccd6f6;
}

button:visited {
  text-decoration: none;
  color: #ccd6f6;
}
button:hover {
  text-decoration: none;
  color: #ccd6f6;
}
button:focus {
  text-decoration: none;
  color: yellow;
}
button:hover,
button:active {
  text-decoration: none;
  color: #ccd6f6;
}
